.selectable-list {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #353c48;
}

.selectable-list li {
  padding: 10px 15px;

}

.selectable-list li:hover {
  background-color: #3c4452;
}
