body, .navbar {
    color: white;
    background-color: black !important;
    font-family: "Noto Sans", "Noto Sans CJK {SC, TC}", sans-serif;
}

.App {}

.App-logo {
    height: 22px;
    float: left;
    margin-right: 10px;
}

#main-content {
    padding-top: 70px;
    /* because navbar has fixed top */
}

#footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.monospace {
    font-family: "Noto Sans Mono", monospace;
}


/*
 * Bootstrap components and styles
 */

.brand-text {
    position: relative;
    top: 1px;
    color: white;
    font-size: 20px;
}

.panel, .panel-heading {
    background-color: transparent;
}

.panel-default>.panel-heading {
    background-color: #5B6A72;
    color: white;
}

.form-control {
    font-size: 13px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #3a3a3a;
}

.table>tbody>tr:hover {
    background-color: #6a6a6a;
}

.navbar-default {
    background-color: inherit;
    border-color: inherit;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: black;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}


/*
 * Colors
 */

/* from the presskit heart */
.stellar-heart-blue { color: #42aae6; }
.stellar-heart-aqua { color: #50e3c2; }
.stellar-heart-yellow { color: #ffd148; }
.stellar-heart-red { color: #ef7e48; }

/* from press kit logo */
.stellar-logo-blue { color: #14b4e6; }

/* from press kit rocket */
.stellar-rocket-blue { color: #dcf2f9; }
.stellar-rocket-orange { color: #ed8117; }
.stellar-rocket-yellow { color: #eebb18; }

/* from stellar.org */
.stellar-org-bluetext { color: #07a2cc; }

/* from mobile design elements screen */
.stellar-mb-blue1 { color: #08B5E5 }
.stellar-mb-blue2 { color: #07A2CC }
.stellar-mb-blue3 { color: #057B9B }
.stellar-mb-yellow { color: #FFD148 }
.stellar-mb-red    { color: #EF7E48 }
.stellar-mb-grey1 { color: #5B6A72 }
.stellar-mb-grey2 { color: #9B9B9B }
.stellar-mb-grey3 { color: #D0D0D0 }
.stellar-mb-grey4 { color: #F4F6F5 }
.stellar-mb-grey5 { color: #979797 }

@media (min-width: 768px) {
    .Search-box {
        width: 350px !important;
    }
}

@media (min-width: 992px) {
    .Search-box {
        width: 520px !important;
    }
}

.Lang-Selector {
    margin: 5px 0;
}

.Lang-Selector button {
    display: inline-block;
    cursor: pointer;
    background: #333;
    color: #ccc;
    border: none;
    border-radius: 2px;
}

.Lang-Selector button:focus {
    outline: none;
}

.Lang-Selector button:not(:first-child) {
    margin-left: 5px;
}

.Lang-Selector .is-active {
    background: #61dafb;
    color: #fff;
}

.operation {
    margin-bottom: 20px !important;
}

.spinner {
    width: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}
